<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conStr" value="Server=192.168.1.24,100;Database=CompanyWeb_2_1;uid=sa;pwd=075783213316" />
  </appSettings>
  <connectionStrings>
    <add name="conStr" connectionString="Server=192.168.1.24,100;Database=CompanyWeb_2_1;uid=sa;pwd=075783213316" />
    <add name="conStr2" connectionString="Server=192.168.1.24,100;Database=CompanyWeb_2_1;uid=sa;pwd=075783213316" />
  </connectionStrings>
</configuration>